* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #001427;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
}

button {
  padding: 8px 32px;
  background-color: #708d81;
  border: none;
  border-radius: 5px;
  color: aliceblue;
  margin: 20px;
}

/* Menu */

.menu {
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.menu p {
  padding-left: 15px;
}

/* Board */

.memory-game {
  width: 740px;
  height: 740px;
  display: flex;
  flex-wrap: wrap;
  -webkit-perspective: 1000px;
  perspective: 1000px;
  border-radius: 10px;
}

.memory-card {
  width: 24.1%;
  height: 24.1%;
  position: relative;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  margin: 3px;
  background-color: white;
  border-radius: 10px;
}

.memory-card:active {
  -webkit-transform: scale(0.97);
  -webkit-transition: 0.2s;
  transform: scale(0.97);
  transition: 0.2s;
}

.memory-card.flip {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.memory-card.shake {
  -webkit-animation: shake 0.35s ease-in-out;
  animation: shake 0.35s ease-in-out;
}

.memory-card.flashes {
  -webkit-animation-duration: 1s;
  -webkit-animation-name: flash;
  -webkit-transition: none;
  animation-duration: 1s;
  animation-name: flash;
  transition: none;
}

/* Board animations */

@-webkit-keyframes flash {
  0% {
    -webkit-box-shadow: 1px 1px 20px 1px rgb(44, 255, 1);
    box-shadow: 1px 1px 20px 1px rgb(44, 255, 1);
  }
  50% {
    -webkit-box-shadow: 1px 1px 6px 1px rgba(43, 255, 1, 0.459);
    box-shadow: 1px 1px 6px 1px rgba(43, 255, 1, 0.459);
  }
  100% {
    -webkit-box-shadow: 1px 1px 20px 1px rgb(44, 255, 1);
    box-shadow: 1px 1px 20px 1px rgb(44, 255, 1);
  }
}

@keyframes flash {
  0% {
    -webkit-box-shadow: 1px 1px 20px 1px rgb(44, 255, 1);
    box-shadow: 1px 1px 20px 1px rgb(44, 255, 1);
  }
  50% {
    -webkit-box-shadow: 1px 1px 6px 1px rgba(43, 255, 1, 0.459);
    box-shadow: 1px 1px 6px 1px rgba(43, 255, 1, 0.459);
  }
  100% {
    -webkit-box-shadow: 1px 1px 20px 1px rgb(44, 255, 1);
    box-shadow: 1px 1px 20px 1px rgb(44, 255, 1);
  }
}

@-webkit-keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  20% {
    -webkit-transform: translateX(-13px);
    transform: translateX(-13px);
  }
  40% {
    -webkit-transform: translateX(13px);
    transform: translateX(13px);
  }
  60% {
    -webkit-transform: translateX(-8px);
    transform: translateX(-8px);
  }
  80% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
  }
}

@keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  20% {
    -webkit-transform: translateX(-13px);
    transform: translateX(-13px);
  }
  40% {
    -webkit-transform: translateX(13px);
    transform: translateX(13px);
  }
  60% {
    -webkit-transform: translateX(-8px);
    transform: translateX(-8px);
  }
  80% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
  }
}

.front-face,
.back-face {
  width: 100%;
  height: 100%;
  padding: 5px;
  position: absolute;
  backface-visibility: hidden;
}

.front-face {
  transform: rotateY(180deg);
}

/* Homepage */

.enter {
  margin: auto;
  text-align: center;
  margin-top: 100px;
}

.enter img {
  width: 500px;
}

.enter-welcome {
  padding-bottom: 10px;
}

.enter a {
  text-decoration: none;
  color: aliceblue;
}

.enter-infos,
.enter-infos a {
  font-size: 12px;
  margin-top: 5px;
}

.enter-infos a {
  text-transform: none;
  text-decoration: underline;
}

/* Modal for winners */

.modal {
  background-color: rgba(0, 0, 0, 0.4);
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 200px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.modal-content {
  background-color: #708d81;
  margin: auto;
  padding: 25px;
  border: 1px solid #001727;
  border-radius: 10px;
  width: 500px;
  height: 160px;
  text-align: center;
}

.modal-content button {
  background-color: #001427;
  margin-top: 20px;
}

.modal.show-modal {
  display: block;
}

.modal.play-again {
  display: none;
}

/* Footer */

.footer {
  text-align: center;
  font-size: 12px;
  padding-top: 30px;
}

.footer a {
  color: aliceblue;
}

/* Game for desktop but adapt to mobile too */

/* Mobile in portrait */

@media screen and (max-width: 600px) {
  .enter {
    margin-top: 100px;
  }
  .enter img {
    width: 300px;
  }
  .memory-game {
    width: 375px;
    height: 812px;
    justify-content: center;
  }
  .memory-card {
    width: 35%;
    height: 15%;
  }

  .footer {
    padding-top: 240px;
    padding-bottom: 50px;
  }

  .modal-content {
    width: 270px;
    height: 180px;
  }
}

/* Mobile in landscape */

@media screen and (min-width: 601px) and (max-width: 1000px) {
  .enter {
    margin-top: 0;
  }

  .enter img {
    width: 200px;
  }

  .memory-game {
    width: 812px;
    height: 375px;
    justify-content: center;
  }

  .memory-card {
    width: 15%;
    height: 30%;
  }

  .footer {
    padding-bottom: 50px;
  }

  .modal {
    padding-top: 100px;
  }

  .modal-content {
    width: 500px;
    height: 160px;
  }
}
